/*
  Author: Guillaume Valmont
  Date : November 5, 2023
  Licence: CC-BY-SA 4.0
  https://forge.apps.education.fr/anki-templates/mathalea
*/

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 15rem;
}

.loading-text {
  position: absolute;
  color: #f15929;
  font-size: 1.5rem;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(241, 89, 41, 0.75));
  backface-visibility: hidden;
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #f15929;
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #f15929;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #f15929;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #f15929;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #f15929;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #f15929;
    opacity: 1;
  }
}
