<!-- 
  Author: Guillaume Valmont
  Date : November 15, 2023
  Licence: CC-BY-SA 4.0
  https://forge.apps.education.fr/anki-templates/mathalea
-->

<link rel="stylesheet" href="https://coopmaths.fr/alea/anki/mathalea-anki-style.css">

<div id='verso-iframe-container'>
  <div class="loader-container">
    <div class="loader">
      <span class="loading-text">Chargement</span>
    </div>
  </div>
</div>

<script src="https://coopmaths.fr/alea/anki/mathalea-anki-script.js" onload="executeIframeUpdate()"></script>

<script>
  function executeIframeUpdate() {
    versoIframeUpdate((function () {/* {{url}} */ }).toString())
  }
</script>
